html{
    text-align: center;
    background-color: lavender;
    font-family: "sans-serifsans-serif";
}
.title{

    font-size: 30px;
    border-width: 2px;
    color: black;
    display: flex;

}
.header{
    
    font-size: 18px;
    color:aliceblue;
    background-image:url(./รูป/blue-neon-cubes-technology-transfer-web-header.jpg);
    border: solid black;
    border-width: 2px;
    border-radius: 30px;

}

.content>img{
    border: solid black;
    border-width: 5px;
    width: 400px;

}

div>h1{
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-size: 60px;
    color:coral;
}

    
.footer{
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 90px;
    background-color: rgb(55, 55, 136);
    color:aliceblue;
    border: solid black;
    border-width: 2px;
    text-align: center;
    border-radius: 50px;
}



p>h3{
    text-align: left;
}

div>p{
    font-size: 30px;
    text-align: left;
}

.s{
    font-size: 40px;
}

.title>ol{
    flex: 1;
    color: coral;
    text-decoration:none;
    background-color: aliceblue;
    border: solid black;
    border-radius: 100px;
    padding-left: 0;


}

a{
    color: black;
   
}